html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #ffe1bb;
}

header {
    text-align: center;
    font-family: 'Lobster', cursive;
    font-size: 2rem;
    color: white;
    text-shadow: -1px -1px 0 black, 1px -1px 0 black, -1px -1px 0 black, 1px -1px 0 black;
    padding: 10px;
    background-color: #33673b;
}

h2 {
    border: 1px solid black;
}

table {
    border-spacing: 70px;
    border-collapse: separate;
}

.right-button {
    position: absolute;
    right: 0;
    bottom: 0;
    height: 20vh;
}

.big-button {
    font-size: 2rem;
    padding: 15px 30px;
    background-color: #5ce160;
    color: white;
    border: 2px solid black;
    border-radius: 15px;
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    font-size: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #810100;
    color: white;
    text-align: center;
}