<!DOCTYPE html>
<html>
<head>
    <title>Menu - Mario and Luigi's Pizzeria</title>
    <link rel="stylesheet" type="text/css" href="../styles/stylemenu.css">
    <link href="https://fonts.googleapis.com/css?family=Lobster" rel="stylesheet">
</head>
<body>
    <header>
        Mario&Luigi's

        <a href="#"
        style="color: white;
        text-decoration: none;
        float: right;"
        onclick="document.location.href = '/login'" class="login-btn">
        Login</a>

        <a href="#"
        style="color: white;
        text-decoration: none;
        float: right;"
        onclick="document.location.href = '/logout'" class="login-btn">
        Logout</a>
    </header>
    
    <div class="menu-container">
        <div class="menu">
            <ul>
                <li><a href="#">All</a></li>
                <li><a href="#">Chicken</a></li>
                <li><a href="#">Pork</a></li>
                <li><a href="#">Beef</a></li>
                <li><a href="#">Fish</a></li>
                <li><a href="#">Vegetarian</a></li>
                <li><a href="#">Vegan</a></li>
            </ul>
        </div>
        
        <div class="pizza-option">
            <div class="pizza-content">
                <img src="../pizza1.png" alt="Pizza Quattro Formagi">
                <h2>Pizza Quattro Formagi</h2>
                <p>Tomato, mozzarella, cheddar, gouda, gorgonzola</p>
            </div>
            <button class="add-to-cart">Add to Cart</button>
        </div>
        
        <div class="pizza-option">
            <div class="pizza-content">
                <img src="../pizza2.png" alt="Pizza Pepperoni">
                <h2>Pizza Pepperoni</h2>
                <p>Tomato, mozzarella, pepperoni</p>
            </div>
            <button class="add-to-cart">Add to Cart</button>
        </div>
            
            
        </div>
    </div>
</body>
</html>
