header {
    text-align: center;
    font-family: 'Lobster', cursive;
    font-size: 2rem;
    color: white;
    text-shadow: -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black, 1px 1px 0 black;
    padding: 10px;
    background-color: #33673b;
}
html, body{
    background-color: #ffe1bb !important;
    margin: 0px;
    padding: 0px;
    height: 100%;
    /* overflow: hidden; */
}
footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  font-size: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #810100;
  color: white;
  text-align: center;
}



.card{
    box-shadow: 4px 8px 15px 2px rgba(0, 0, 0, 0.31);
}